 @import "tailwindcss";
@import "@heroui/styles"; 

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
  transition: 0.3s;
}

.mySwiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.mySwiper .swiper-pagination-bullet-active {
  background:purple;
  opacity: 1;
} 
